// https://fonts.google.com
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Ubuntu:400,700');
@Ubuntu: 'Ubuntu', sans-serif;
@PT-Sans: 'PT Sans', sans-serif;

// fonts variable
@mainFont: 'Ubuntu', sans-serif;
@defaultFont: 'PT Sans', sans-serif;

// color variable
@accent-color: #0678be;
@extra-color: #78bf06;
@link-color: #014c8c;
@text-color: #4d4d4d;
@text-invert-color: #ffffff;

// typografy
@defoltSize: 18px;
@reg: 400;
@bold: 700;
@defoltLineHeight: 1.5;



body{
	font-size: @defoltSize;
	min-width: 320px;
	position: relative;
	line-height: 1.3;
	// letter-spacing: 2px;
	font-family: @mainFont;
	overflow-x: hidden;
	color: @text-color;
}

// custom classes

// transition
.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}
.transition-delay (@delay) {
	-webkit-transition-delay: @delay;
	-moz-transition-delay:    @delay;
	-ms-transition-delay:     @delay;
	-o-transition-delay:      @delay;
}

// reset-links
.reset-link{
	color: inherit;
	&:hover,&:active,&:focus{
		color: inherit;
		outline: none;
		text-decoration: none;
	}
}
/* button outline reset */
button{
	outline: none;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	&:hover{
		outline: none;
	}
	&:focus{
		outline: none;
	}
	&:active{
		outline: none;
	}
	&:visited{
		outline: none;
		cursor: pointer;
	}
}

// border bottom:
.set-bottom-border{
	border-bottom: 2px solid @accent-color;
}
// .main-button
.main-button{
	color: @text-invert-color;
	background-color: @extra-color;
	border: 1px solid @text-invert-color;
	border-radius: 6px;
	text-transform: uppercase;
	font-weight: @bold;
	.transition(.3s);
	&:hover{
		background-color: @accent-color;
		color: @text-invert-color;
	}
	&--big{
		font-size: 30px;
	}
}

// .main-header
.main-header{
	height: 720px;

	&__wrapper{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0% 0%;

	}
	&__darken{
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000000;
		opacity: 0.45
	}
	&__row{

	}
	&__content{
		color: @text-invert-color;
		font-family: @defaultFont;

	}
	&__title{
		color: inherit;
		font-size: 48px;
		text-transform: uppercase;
		font-family: @defaultFont;
		letter-spacing: 3px;

	}
	&__offer-trouble{
		font-size: 24px;
		letter-spacing: 1px;

	}
	&__offer{
		font-size: 24px;
		text-transform: uppercase;
		letter-spacing: 2px;

	}
	&__time-digits{
		font-size: 48px;
		line-height: .7;

	}
	&__time-description{
		line-height: 1.3;
		span{
		}

	}

}

// .introduction
.introduction{

	&__wrapper{

	}
	&__paragraph{
		span{
			color: @text-invert-color;
			background-color: @accent-color;

		}

	}
	&__column{
		&:last-child{
			border-left: 1px solid @text-color;
		}
	}


}






@import '_media';
